@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

:root {
    --background-primary: #231b2e;
    --primary: #9b4de0;
    --black: black;
    --btn-background: #3a3344;
    --text-color: #fff;
    --header-height: 70px;
    --text-color-header: #dadada;
    --sideBar-width: 240px;
    --Footer-height: 90px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
