.container {
    height: 1000px;
    background-color: #170f23;
    width: calc(100% - var(--sideBar-width));
    margin-left: var(--sideBar-width);
}
.content {
    margin-top: var(--header-height);
}
