// Menu
.menu-list {
    width: 240px;

    .menu-item {
        padding: 12px 18px;
        width: 100%;
        justify-content: flex-start;
        margin-left: 0;
        text-transform: none;
        font-size: 1.4rem;
        color: var(--text-color-header);
        border-radius: 0;
        display: flex;
    }
}
.menu-item {
    &:hover {
        background-color: #43345a;
    }
}
.menu-popper,
.submenu-popper {
    padding-right: 0;
    padding-left: 0;
}
.seperate {
    border-top: 1px solid var(--text-color-header);
    margin-top: 12px;
    margin-bottom: -12px;
    opacity: 0.4;
    user-select: none;
    cursor: default;

    &:hover {
        opacity: 0.4;
        background-color: transparent;
    }
}

.opacity {
    opacity: 0.6;
}

// submenu
.submenu-list {
    width: 270px;
}
