.wrapper {
    --height-search: 40px;
    --width-search: 440px;
    --width-search-btn: 56px;

    height: var(--header-height);
    padding: 0 59px;

    background-color: var(--background-primary);
    position: fixed;
    top: 0;
    right: 0;
    left: var(--sideBar-width);
}
.inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.action {
    display: flex;
    align-items: center;
}

.wrap-btn + .wrap-btn {
    margin-left: 10px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}
